<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.kredo">

    <application

            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".BuyBundledetails">
        </activity>
        <activity android:name=".BuyBundles">
        </activity>
        <activity android:name=".ConfirmationScreen">
        </activity>
        <activity android:name=".BuyAirtime">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
                android:name="com.hover.ApiKey"
                android:value="717eaa289abcb7d9f4dcb1f00b07c699"/>
    </application>

</manifest>